@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background: darkblue;
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  position: relative;
}
.body .pop__up {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 20;
}
.body .pop__up .pop__up-info {
  height: 60%;
  width: 28%;
  background: #00a0f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  position: relative;
}
.body .pop__up .pop__up-info .checkbox {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 15px;
  padding: 0 35px;
}
.body .pop__up .pop__up-info .checkbox input {
  height: 15px;
  width: 15px;
  margin-bottom: 15px;
}
.body .pop__up .pop__up-info .close__form {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 34px;
  transition: 0.5s;
  cursor: pointer;
}
.body .pop__up .pop__up-info .close__form:hover {
  transform: rotate(95deg);
}
.body .pop__up .pop__up-info label {
  width: 80%;
}
.body .pop__up .pop__up-info input {
  border: none;
  border-radius: 15px;
  height: 45px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  outline: none;
}
.body .pop__up .pop__up-info input:focus {
  border: none;
}
.body .pop__up .pop__up-info #pop__up-btn {
  width: 60%;
  height: 55px;
  border: none;
  border-radius: 25px;
  font-size: 22px;
  background: lightblue;
  box-shadow: 0 0 10px;
  transition: 0.5s;
}
.body .pop__up .pop__up-info #pop__up-btn:hover {
  cursor: pointer;
  background: blue;
  color: #f5f5f5;
}

.container {
  width: 1124px;
  margin: 0 auto;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 34px;
  color: darkblue;
}

.header {
  height: 120px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .nav ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.header .nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
}
.header .nav ul li a i {
  margin-right: 10px;
}
.header .nav__mobile {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__mobile img {
  display: block;
  width: 30%;
}
.header .nav__mobile .burger__items {
  display: none;
}
.header .nav__mobile .burger {
  height: 40px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header .nav__mobile .burger span {
  display: block;
  height: 2px;
  width: 80%;
  background: #f5f5f5;
}

.block__1 {
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.block__1 img {
  position: absolute;
}
.block__1 .agama__map {
  top: 0;
  right: 0;
  height: 100%;
}
.block__1 .blue__cards {
  bottom: -60px;
  left: 555px;
  height: 60%;
}
.block__1 .block__1-info {
  position: relative;
}
.block__1 .block__1-info .track {
  height: 150px;
  width: 300px;
  position: absolute;
  left: 370px;
}
.block__1 .block__1-info p {
  font-size: 24px;
  margin-bottom: 50px;
}
.block__1 .block__1-info #btn {
  padding: 15px;
  background: #00a0f9;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0 5px 10px;
  transition: 0.2s;
}
.block__1 .block__1-info #btn:hover {
  box-shadow: none;
  background: blue;
  cursor: pointer;
  color: #f5f5f5;
}

.footer {
  height: 100vh;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.footer .container .contacts {
  height: 60%;
  width: 70%;
  background: #00a0f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .container .contacts .block5-img {
  transition: 0.8s;
  max-width: 80%;
  border-radius: 15px;
}
.footer .container .contacts .contact__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer .container .contacts .contact__items .contact__item {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0 0 10px #333;
}
.footer .container .contacts .contact__items .contact__item a {
  text-decoration: none;
  color: inherit;
}
.footer .container .contacts .contact__items .contact__item i {
  font-size: 24px;
}

.block__2 {
  height: 100vh;
  background: rgb(0, 160, 249);
  background: linear-gradient(-17deg, rgb(0, 160, 249) 50%, rgb(0, 0, 139) 50%);
}
.block__2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
.block__2 .container .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.block__2 .container .about h2 {
  color: #00a0f9;
  margin-bottom: 50px;
}
.block__2 .container .about .about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.block__2 .container .about .about__items .about__item {
  width: 30%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  cursor: pointer;
}
.block__2 .container .about .about__items .about__item:hover {
  background: black;
}

.block__3 {
  margin-bottom: 100px;
}
.block__3 .container {
  padding-top: 45px;
}
.block__3 .container h2 {
  color: #f5f5f5;
  margin-bottom: 50px;
}
.block__3 .container .block__3-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.block__3 .container .block__3-items .items {
  width: 30%;
  text-align: center;
  padding: 15px;
}

.block__4 {
  height: 500px;
}
.block__4 .container {
  min-width: 0;
}
.block__4 .container h2 {
  color: #f5f5f5;
  margin-bottom: 45px;
}
.block__4 .slider__items img {
  height: 400px;
}
.block__4 .slider__items .slick-arrow {
  display: none !important;
}
.block__4 .slider__items .slick-list {
  margin-left: 70px;
}

.header .nav__mobile .close__submenu {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav__mobile .close__submenu span {
  display: block;
  height: 2px;
  width: 100%;
  background: #f5f5f5;
  margin: 0 auto;
  position: absolute;
}
.header .nav__mobile .close__submenu span:nth-child(1) {
  transform: rotate(-45deg);
}
.header .nav__mobile .close__submenu span:nth-child(2) {
  transform: rotate(45deg);
}

.header .nav__mobile .burger__items {
  position: absolute;
  transition: 0.3s;
  top: 0;
  left: -80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}
.header .nav__mobile .burger__items img {
  width: 70%;
}
.header .nav__mobile .burger__items .contacts {
  list-style: none;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .nav__mobile .burger__items .contacts li {
  width: 100%;
  text-align: center;
}
.header .nav__mobile .burger__items .contacts li a {
  width: 100%;
  color: #f5f5f5;
  font-size: 22px;
  text-decoration: none;
}
.header .nav__mobile .burger__items .contacts li a i {
  margin-right: 10px;
}

@media screen and (max-width: 420px) {
  .header .nav {
    display: none;
  }
  .container {
    width: 100%;
    height: auto;
  }
  .block__1-info {
    padding: 15px;
  }
  .block__2, .block__2 .container {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .block__2 .container .about .about__items {
    justify-content: center;
  }
  .block__2 .container .about .about__items .about__item {
    width: 80%;
  }
  .block__3 .container .block__3-items {
    justify-content: center;
  }
  .block__3 .container .block__3-items .items {
    width: 80%;
  }
  .block__4 .slider__items .slick-list {
    margin-left: 50px;
  }
  .body .pop__up .pop__up-info {
    width: 85%;
  }
  .footer .container .contacts .contact__items {
    flex-wrap: wrap;
    width: 80%;
  }
  .footer .container .contacts {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .container .contacts h2 {
    margin-bottom: 15px;
  }
  .footer .container .contacts .contact__items .contact__item {
    align-items: flex-start;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
